@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ================= BASE ================= */
@layer base {
  html {
    @apply bg-s1;
  }

  body {
    @apply font-poppins text-[16px] tracking-[-0.03em] text-p5;
  }

  a {
    @apply no-underline;
  }

  img {
    @apply block max-w-full;
  }

  button {
    @apply bg-none tracking-[-0.03em];
  }

  input {
    @apply tracking-[-0.03em];
  }
}

/* ================= UTILITIES ================= */
@layer utilities {
  /* START of Typography */
  .h-num { @apply font-inter text-[72px] font-bold leading-[84px]; }
  .h1 { @apply text-[84px] font-black leading-[84px] tracking-[-0.03em]; }
  .h2 { @apply text-[64px] font-black leading-[64px]; }
  .h3 { @apply text-[48px] font-semibold leading-[56px] tracking-[-0.02em]; }
  .h4 { @apply text-[40px] font-semibold leading-[52px]; }
  .h5 { @apply text-[32px] font-semibold leading-[40px]; }
  .h6 { @apply text-[24px] font-medium leading-[36px]; }

  .body-1 { @apply text
